#add {
    background-color: #ffdab9;
    padding: 10px;
    font-size: 15px;
    margin-left: 500px;
    border-radius: 5px;
  }
  
  #save {
    background-color: #ffdab9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    margin-left: 135px;
    margin-top: 20px;
    border-radius: 5px;
  }
  